html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  width: 100%;
  height: calc(100% - 32px);
  padding: 0;
  margin: 0;
}

#header {
  border-bottom: 1px solid black;
}

#header p {
  margin: 0 16px;
  padding: 0;
  line-height: 32px;
  text-align: right;
}

#form {
  max-width: 80%;
  position: absolute;
  bottom: 65px;
  left: 8px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px;
  border: 1px solid #cccccc;
}

#info {
  max-width: 80%;
  position: absolute;
  bottom: 30px;
  left: 8px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px 16px;
  border: 1px solid #cccccc;
  font-size: 80%;
}
#info dl {
  display: flex;
  margin: 0;
  align-items: center;
}
#info dd {
  margin-left: 10px;
}

.forkme {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}

.credit {
  margin: 0 16px;
  padding: 0;
  line-height: 32px;
  text-align: right;
  font-family: "Baloo Thambi 2", cursive;
}

#url {
  max-width: 300px;
}

#clip {
  cursor: pointer;
}

@keyframes wizard-bounce-1 {
  0% {
    right: 55px;
  }
  50% {
    right: 70px;
  }
  100% {
    right: 55px;
  }
}
@keyframes wizard-bounce-2 {
  0% {
    bottom: 113px;
  }
  50% {
    bottom: 130px;
  }
  100% {
    bottom: 113px;
  }
}

.wizard {
  display: none;
  font-size: 80%;
  position: fixed;
  font-family: sans-serif;
  background-color: #e74230;
  color: white;
  padding: 4px 12px 3px;
  border-radius: 4px;
  animation-duration: 0.8s;
  animation-iteration-count: 2;
  animation-timing-function: ease;
  z-index: 999999;
}

.wizard:before {
  content: "";
  position: absolute;
}

#wizard-trail {
  right: 55px;
  top: 178px;
  animation-name: wizard-bounce-1;
}
#wizard-copy {
  left: 80px;
  bottom: 113px;
  animation-name: wizard-bounce-2;
}
#wizard-copied {
  left: 100px;
  bottom: 113px;
  background-color: #4230e7;
}

/* 吹き出し */
#wizard-trail:before {
  top: 50%;
  left: 100%;
  margin-top: -7px;
  border: 7px solid transparent;
  border-left: 7px solid #e74230;
}
#wizard-copy:before {
  top: 100%;
  right: 25px;
  margin-bottom: -7px;
  border: 7px solid transparent;
  border-top: 7px solid #e74230;
}
