html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#map {
  width: 100%;
  height: calc(100% - 32px);
  padding: 0;
  margin: 0;
}

#header {
  border-bottom: 1px solid black;
}

#header p {
  margin: 0 16px;
  padding: 0;
  line-height: 32px;
  text-align: right;
}

#url {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.forkme {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}

.credit {
  margin: 0 16px;
  padding: 0;
  line-height: 32px;
  text-align: right;
  font-family: "Baloo Thambi 2", cursive;
}

@keyframes wizard-bounce-horizontal {
  0% {
    right: 55px;
  }
  50% {
    right: 70px;
  }
  100% {
    right: 55px;
  }
}

.wizard {
  display: none;
  font-size: 80%;
  position: fixed;
  font-family: sans-serif;
  background-color: #e74230;
  color: white;
  padding: 4px 12px 3px;
  border-radius: 4px;
  animation-duration: 0.8s;
  animation-iteration-count: 2;
  animation-timing-function: ease;
  z-index: 99999;
  right: 55px;
  animation-name: wizard-bounce-horizontal;
}

/* 吹き出し */
.wizard:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -7px;
  border: 7px solid transparent;
  border-left: 7px solid #e74230;
}

#wizard-trail {
  top: 178px;
}

#wizard-download {
  top: 245px;
}

#wizard-copy {
  top: 285px;
}
#wizard-copied {
  top: 285px;
  background-color: #4230e7;
  animation: none;
}
#wizard-copied:before {
  display: none;
}
